<m-moblet
init="init"
is-loading="isLoading"
class="bg"
inner-scroll="true"
unavaliable="error"
>
  <m-content>
    <style>
    .from-them::after, .from-me::after {
      background: {{bgColor}};
    }
    </style>
    <ion-slides
    ng-if="showTutorial"
    options="options"
    slider="data.slider"
    class="tutorial"
    >
      <ion-slide-page ng-repeat="slide in data.tutorial">
        <div class="tutorial" style="background-image: url({{ slide }})"></div>
      </ion-slide-page>
    </ion-slides>
    <div class="news">
      <div
      class="from-them"
      >
        <div
        ng-if="data.showWelcome"
        m-bind-html="data.welcome"
        class="n-highlight">
        </div>
      </div>
      <div ng-repeat="(i, n) in data.news" class="n">
        <div
        ng-if="n.highlight.show"
        class="from-them"
        id="anchor-{{i}}"
        >
          <div
          m-bind-html="n.highlight.content"
          class="n-highlight">
          </div>
          <div>
            <a
            ng-if="n.highlight.link && n.highlight.link !== ''"
            class="news-link"
            href="{{n.highlight.link}}"
            target="_blank"
            translate="m-daily-news-read_more"
            >
            </a>
          </div>
        </div>
        <!-- MORE -->
        <div
        ng-if="n.highlight.show &&
               n.more &&
               n.more.used === false &&
               n.next.hide === false &&
               n.next.used === false"
        ng-click="readMore(i)"
        class="answers"
        >
          {{n.more.content}}
        </div>
        <!-- NEXT-->
        <div
        ng-if="n.highlight.show &&
               i < data.news.length - 1 &&
               n.next &&
               (!n.more || n.more.used === false) &&
               n.next.hide === false &&
               n.next.used === false"
        ng-click="showNext(i)"
        class="answers"
        >
            {{n.next.content}}
        </div>
        <div
        ng-if="n.highlight.show &&
               n.next &&
               (!n.more || n.more.used === false) &&
               n.next.hide === false &&
               n.next.used === true"
        class="from-me"
        >
          {{n.next.content}}
        </div>
        <!-- SHOW MORE WERE USED -->
        <div
        ng-if="n.highlight.show &&
               n.more &&
               n.more.used === true"
        >
          <div class="from-me">
            {{n.more.content}}
          </div>
          <div
          ng-repeat="(j, more) in n.more.entries"
          class="n"
          >
    	      <div
            class="from-them"
            id="anchor-{{i}}-{{j}}"
            >
    	        <span
              m-bind-html="more.content"
              class="n-highlight"
              >
              </span>
              <a
              ng-if="more.link && more.link !== ''"
              class="n-link"
              href="{{more.link}}"
              target="_blank"
              translate="m-daily-news-read_more"
              >
              </a>
    	      </div>
          </div>
          <div
          ng-if="n.highlight.show &&
                 n.next &&
                 i < data.news.length - 1 &&
                 n.next.hide === false &&
                 n.next.used === false"
          ng-click="showNext(i)"
          class="answers"
          >
            {{n.next.content}}
          </div>
          <div
          ng-if="n.highlight.show &&
                 n.next &&
                 n.next.hide === false &&
                 n.next.used === true"
          class="from-me"
          >
            {{n.next.content}}
          </div>
        </div>
      </div>
    </div>
  </m-content>
</m-moblet>
