<m-moblet
  is-loading="isLoading"
  class="bg"
  inner-scroll="true"
  unavaliable="error">
  <style>
    .bubble-bgColor::after {
      background: {{bgColor}};
    }
  </style>
  <m-content init="init">
    <div m-change-theme></div>
    <div ng-repeat="(key, item) in news">
			<div class="news">
	      <div class="bubble bubble-bgColor">
	        <span
            class="news-highlight"
            m-bind-html="item.highlight.content">
          </span>
          <a
            class="news-link"
            ng-if="item.highlight.link"
            href="{{item.highlight.link}}"
            target="_blank">
            ver mais
          </a>
	      </div>
	    </div>
    </div>
  </m-content>
</m-moblet>
